Repository unstructuredstudio/zubhub: changes, and which pre-commit hooks are due for each by the changed paths.
All: zubhub-test, media-test, react-test

zubhub-test:
  name: zubhub-test
  entry: ./zubhub_backend/pre-commit-zubhub-test
  language: system
  pass_filenames: false

media-test:
  name: media-test
  entry: ./zubhub_backend/pre-commit-media-test
  language: system
  pass_filenames: false

react-test:
  name: react-test
  entry: npm --prefix ./zubhub_frontend/zubhub/ run test -- --coverage --watchAll=false
  language: node
  pass_filenames: false

setup pre-commit: (#1060)
  .github/actions/comment_action/action.yml
  .github/workflows/pre_commit.yml
  .pre-commit-config.yaml
  README.md
  zubhub_backend/.gitignore
  zubhub_backend/Makefile
  zubhub_backend/compose/web/dev/start
  zubhub_backend/media/media/settings.py
  zubhub_backend/media/media/tests/__init__.py
  zubhub_backend/media/media/tests/test_views.py
  zubhub_backend/pre-commit-media-test
  zubhub_backend/pre-commit-zubhub-test
  zubhub_backend/zubhub/creators/tests/test_views.py
  zubhub_frontend/zubhub/.eslintignore
  zubhub_frontend/zubhub/.eslintrc.json
  zubhub_frontend/zubhub/.gitignore
  zubhub_frontend/zubhub/package-lock.json
  zubhub_frontend/zubhub/package.json
  zubhub_frontend/zubhub/pre-commit-eslint
  zubhub_frontend/zubhub/src/App.js
  zubhub_frontend/zubhub/src/App.test.js
Due: zubhub-test, media-test, react-test

(fix): Creator profile gets margin * fix creator profile margin * fix projects section margin
  zubhub_frontend/zubhub/package-lock.json
  zubhub_frontend/zubhub/package.json
  zubhub_frontend/zubhub/src/assets/js/styles/components/projects_drafts/projectsDraftsGridStyles.js
  zubhub_frontend/zubhub/src/assets/js/styles/views/profile/profileStyles.js
  zubhub_frontend/zubhub/src/views/profile/Profile.jsx
Due: react-test

new login form
  zubhub_frontend/zubhub/src/assets/js/styles/views/login/loginStyles.js
  zubhub_frontend/zubhub/src/views/login/Login.jsx
  zubhub_frontend/zubhub/src/views/login/loginScripts.js
Due: react-test

disable eslint error check in dev
  zubhub_frontend/zubhub/.eslintrc.json
  zubhub_frontend/zubhub/package-lock.json
  zubhub_frontend/zubhub/package.json
Due: none

disable eslint error check in dev (#1111)
  zubhub_frontend/zubhub/.eslintrc.json
  zubhub_frontend/zubhub/package-lock.json
  zubhub_frontend/zubhub/package.json
Due: none

disable eslint in prod build
  zubhub_frontend/zubhub/package.json
Due: none

disable eslint in prod build (#1112)
  zubhub_frontend/zubhub/package.json
Due: none

Add dummy login details to "test vm created" comment
  .github/workflows/create_destroy_test_vm.yaml
Due: none

Add dummy login details to "test vm created" comment (#1113)
  .github/workflows/create_destroy_test_vm.yaml
Due: none

Update package.json
  zubhub_frontend/zubhub/package.json
Due: none

fix frontend deployment bug
  .github/workflows/build_deploy_frontend.yml
Due: none

fix frontend deployment bug (#1118)
  .github/workflows/build_deploy_frontend.yml
Due: none

improve activity created modal use translations and change publish button's label to create remove banner from activity creation form make created activities unpublished by default
  zubhub_frontend/zubhub/package-lock.json
  zubhub_frontend/zubhub/package.json
  zubhub_frontend/zubhub/public/locales/en/translation.json
  zubhub_frontend/zubhub/src/views/activity_details/ActivityDetails.styles.js
  zubhub_frontend/zubhub/src/views/activity_details/ActivityDetailsV2.jsx
  zubhub_frontend/zubhub/src/views/create_activity/CreateActivity.jsx
  zubhub_frontend/zubhub/src/views/create_activity/CreateActivity.styles.js
  zubhub_frontend/zubhub/src/views/create_activity/script.js
Due: react-test

remove logs
  zubhub_frontend/zubhub/src/components/Navbar/Navbar.jsx
  zubhub_frontend/zubhub/src/views/signup/Signup.jsx
Due: react-test

initializes field with formik value
  zubhub_frontend/zubhub/src/views/create_activity/script.js
Due: react-test

add tabs show unpublished activities for staff and educators
  zubhub_frontend/zubhub/public/locales/en/translation.json
  zubhub_frontend/zubhub/src/assets/js/styles/views/activities/activitiesStyles.js
  zubhub_frontend/zubhub/src/store/actions/activityActions.js
  zubhub_frontend/zubhub/src/store/reducers/activityReducer.js
  zubhub_frontend/zubhub/src/views/activities/activities.jsx
Due: react-test

make activity creation available for educators
  .github/workflows/build_deploy_frontend.yml
  zubhub_frontend/zubhub/package-lock.json
  zubhub_frontend/zubhub/package.json
  zubhub_frontend/zubhub/public/locales/en/translation.json
  zubhub_frontend/zubhub/src/components/Sidenav/data.js
  zubhub_frontend/zubhub/src/views/create_activity/CreateActivity.jsx
Due: react-test

precommit check
  .pre-commit-config.yaml
  zubhub_backend/zubhub/projects/serializers.py
  zubhub_frontend/zubhub/public/locales/en/translation.json
  zubhub_frontend/zubhub/public/locales/hi/translation.json
  zubhub_frontend/zubhub/src/views/activity_details/ActivityDetailsV2.jsx
Due: zubhub-test, react-test

fix material_used and category issues
  zubhub_frontend/zubhub/src/views/create_project/script.js
Due: react-test

fix: fix youtube link not showing
  zubhub_frontend/zubhub/src/components/form/videoInput/VideoInput.jsx
Due: react-test

feat: updates to admin section
  zubhub_backend/zubhub/activities/admin.py
  zubhub_backend/zubhub/activities/models.py
  zubhub_backend/zubhub/activities/signals.py
  zubhub_backend/zubhub/activities/tasks.py
Due: zubhub-test

refactor: swiched to string type
  zubhub_backend/zubhub/creators/serializers.py
Due: zubhub-test

use route hooks from the pagewrapper
  zubhub_frontend/zubhub/package.json
  zubhub_frontend/zubhub/src/App.js
  zubhub_frontend/zubhub/src/views/PageWrapper.jsx
Due: react-test

use route hooks from the pagewrapper (#1120)
  zubhub_frontend/zubhub/package.json
  zubhub_frontend/zubhub/src/App.js
  zubhub_frontend/zubhub/src/views/PageWrapper.jsx
Due: react-test

fix navbar bug
  zubhub_frontend/zubhub/src/views/PageWrapper.jsx
Due: react-test

fix navbar bug (#1123)
  zubhub_frontend/zubhub/src/views/PageWrapper.jsx
Due: react-test

del: updates to yup validation
  zubhub_frontend/zubhub/package-lock.json
  zubhub_frontend/zubhub/src/views/create_project/script.js
Due: react-test

feat: adds weasy to requirements
  zubhub_backend/compose/celery/requirements.txt
  zubhub_backend/compose/web/requirements.txt
  zubhub_backend/zubhub/activities/urls.py
  zubhub_backend/zubhub/activities/views.py
  zubhub_backend/zubhub/templates/activities/activity_download.html
Due: zubhub-test

feat: routes and views for endpoint
  zubhub_backend/zubhub/activities/views.py
Due: zubhub-test

feat: updates to pdf template
  zubhub_backend/zubhub/activities/views.py
  zubhub_backend/zubhub/templates/activities/activity_download.html
Due: zubhub-test

feat: implements template for pdf
  zubhub_backend/zubhub/templates/activities/activity_download.html
Due: none

feat: updates to pdf template
  zubhub_backend/zubhub/templates/activities/activity_download.html
Due: none

feat: routes and views for endpoint
  zubhub_backend/compose/web/dev/Dockerfile
  zubhub_backend/compose/web/requirements.txt
  zubhub_backend/zubhub/activities/views.py
Due: zubhub-test

feat: utils for downloadable binaries
  zubhub_backend/zubhub/activities/models.py
  zubhub_backend/zubhub/activities/utils.py
  zubhub_backend/zubhub/activities/views.py
  zubhub_backend/zubhub/templates/activities/activity_download.html
Due: zubhub-test

feat: updates
  zubhub_backend/zubhub/templates/activities/activity_download.html
  zubhub_frontend/zubhub/src/api/api.js
  zubhub_frontend/zubhub/src/views/activity_details/ActivityDetailsV2.jsx
  zubhub_frontend/zubhub/src/views/activity_details/activityDetailsScripts.js
Due: react-test

feat: translates download button
  zubhub_frontend/zubhub/public/locales/en/translation.json
  zubhub_frontend/zubhub/public/locales/hi/translation.json
  zubhub_frontend/zubhub/src/views/activity_details/ActivityDetailsV2.jsx
Due: react-test

feat: add utils for qr code and pdf rendering
  zubhub_backend/zubhub/activities/utils.py
Due: zubhub-test

rebase
  zubhub_backend/compose/web/requirements.txt
  zubhub_backend/zubhub/activities/views.py
Due: zubhub-test

rebase
  zubhub_backend/zubhub/templates/activities/activity_download.html
Due: none

Path conditions:
  zubhub-test: any of: zubhub_backend/zubhub/.*\.py$
  media-test: any of: zubhub_backend/media/.*\.py$
  react-test: any of: zubhub_frontend/.*\.[jt]sx?$, but not: ^zubhub_frontend/zubhub/node_modules/
