Repository unstructuredstudio/zubhub: changes, and which pre-commit hooks are due for each by the changed paths.
All: zubhub-test, media-test, react-test

zubhub-test:
  name: zubhub-test
  entry: ./zubhub_backend/pre-commit-zubhub-test
  language: system
  pass_filenames: false

media-test:
  name: media-test
  entry: ./zubhub_backend/pre-commit-media-test
  language: system
  pass_filenames: false

react-test:
  name: react-test
  entry: npm --prefix ./zubhub_frontend/zubhub/ run test -- --coverage --watchAll=false
  language: node
  pass_filenames: false

feat: updates to pdf template
  zubhub_backend/zubhub/templates/activities/activity_download.html
Due: none

feat: updates to pdf template
  zubhub_backend/zubhub/activities/views.py
  zubhub_backend/zubhub/templates/activities/activity_download.html
Due: zubhub-test

feat: routes and views for endpoint
  zubhub_backend/compose/web/requirements.txt
  zubhub_backend/zubhub/activities/views.py
Due: zubhub-test

feat: utils for downloadable binaries
  zubhub_backend/zubhub/activities/utils.py
  zubhub_backend/zubhub/activities/views.py
  zubhub_backend/zubhub/templates/activities/activity_download.html
Due: zubhub-test

feat: updates
  zubhub_backend/zubhub/templates/activities/activity_download.html
Due: none

feat: routes and views for endpoint
  zubhub_backend/zubhub/activities/views.py
Due: zubhub-test

migrate i18next to v23
  zubhub_frontend/zubhub/package.json
Due: none

migrate i18next-browser-languagedetector to v7
  zubhub_frontend/zubhub/package.json
Due: none

initialise video compression task
  zubhub_backend/media/media/views.py
Due: media-test

add activities tab for educators
  zubhub_frontend/zubhub/public/locales/en/translation.json
  zubhub_frontend/zubhub/public/locales/hi/translation.json
  zubhub_frontend/zubhub/src/assets/js/styles/components/projects_drafts/projectsDraftsGridStyles.js
  zubhub_frontend/zubhub/src/components/projects_drafts/ProjectsDraftsGrid.jsx
  zubhub_frontend/zubhub/src/views/profile/Profile.jsx
Due: react-test

fix: fixes errors
  zubhub_frontend/zubhub/package-lock.json
  zubhub_frontend/zubhub/src/views/create_project/script.js
Due: react-test

fix: materials used validation error on creating new project (#1126)
  zubhub_frontend/zubhub/package-lock.json
  zubhub_frontend/zubhub/src/views/create_project/script.js
Due: react-test

fix routing
  zubhub_frontend/zubhub/src/App.js
  zubhub_frontend/zubhub/src/api/api.js
  zubhub_frontend/zubhub/src/assets/js/styles/views/page_wrapper/pageWrapperStyles.js
  zubhub_frontend/zubhub/src/assets/js/utils/scripts.js
  zubhub_frontend/zubhub/src/components/protected_route/ProtectedRoute.jsx
  zubhub_frontend/zubhub/src/store/actions/authActions.js
  zubhub_frontend/zubhub/src/views/PageWrapper.jsx
  zubhub_frontend/zubhub/src/views/login/Login.jsx
  zubhub_frontend/zubhub/src/views/login/loginScripts.js
  zubhub_frontend/zubhub/src/views/profile/Profile.jsx
  zubhub_frontend/zubhub/src/views/profile/profileScripts.js
  zubhub_frontend/zubhub/src/views/signup/Signup.jsx
  zubhub_frontend/zubhub/src/views/signup/signupScripts.js
Due: react-test

fix routing (#1128)
  zubhub_frontend/zubhub/src/App.js
  zubhub_frontend/zubhub/src/api/api.js
  zubhub_frontend/zubhub/src/assets/js/styles/views/page_wrapper/pageWrapperStyles.js
  zubhub_frontend/zubhub/src/assets/js/utils/scripts.js
  zubhub_frontend/zubhub/src/components/protected_route/ProtectedRoute.jsx
  zubhub_frontend/zubhub/src/store/actions/authActions.js
  zubhub_frontend/zubhub/src/views/PageWrapper.jsx
  zubhub_frontend/zubhub/src/views/login/Login.jsx
  zubhub_frontend/zubhub/src/views/login/loginScripts.js
  zubhub_frontend/zubhub/src/views/profile/Profile.jsx
  zubhub_frontend/zubhub/src/views/profile/profileScripts.js
  zubhub_frontend/zubhub/src/views/signup/Signup.jsx
  zubhub_frontend/zubhub/src/views/signup/signupScripts.js
Due: react-test

refactor and fix hero section style
  zubhub_frontend/zubhub/src/assets/js/styles/components/staff_pick/staffPickStyles.js
  zubhub_frontend/zubhub/src/assets/js/styles/index.js
  zubhub_frontend/zubhub/src/assets/js/styles/views/projects/projectsStyles.js
  zubhub_frontend/zubhub/src/components/staff_pick/StaffPick.jsx
  zubhub_frontend/zubhub/src/views/home/Home.jsx
  zubhub_frontend/zubhub/src/views/projects/Projects.jsx
Due: react-test

refactor and fix hero section style (#1130)
  zubhub_frontend/zubhub/src/assets/js/styles/components/staff_pick/staffPickStyles.js
  zubhub_frontend/zubhub/src/assets/js/styles/index.js
  zubhub_frontend/zubhub/src/assets/js/styles/views/projects/projectsStyles.js
  zubhub_frontend/zubhub/src/components/staff_pick/StaffPick.jsx
  zubhub_frontend/zubhub/src/views/home/Home.jsx
  zubhub_frontend/zubhub/src/views/projects/Projects.jsx
Due: react-test

improve project recommendation
  .pre-commit-config.yaml
  zubhub_backend/zubhub/projects/urls.py
  zubhub_backend/zubhub/projects/utils.py
  zubhub_backend/zubhub/projects/views.py
  zubhub_frontend/zubhub/src/api/api.js
  zubhub_frontend/zubhub/src/store/actions/projectActions.js
  zubhub_frontend/zubhub/src/views/project_details/ProjectDetails.jsx
Due: zubhub-test, react-test

improve project recommendation (#1020)
  .pre-commit-config.yaml
  zubhub_backend/zubhub/projects/urls.py
  zubhub_backend/zubhub/projects/utils.py
  zubhub_backend/zubhub/projects/views.py
  zubhub_frontend/zubhub/src/api/api.js
  zubhub_frontend/zubhub/src/store/actions/projectActions.js
  zubhub_frontend/zubhub/src/views/project_details/ProjectDetails.jsx
Due: zubhub-test, react-test

improve search for non-logged-in users
  zubhub_backend/zubhub/creators/utils.py
  zubhub_backend/zubhub/projects/utils.py
  zubhub_backend/zubhub/projects/views.py
  zubhub_frontend/zubhub/public/locales/en/translation.json
  zubhub_frontend/zubhub/public/locales/hi/translation.json
  zubhub_frontend/zubhub/src/assets/js/styles/views/search_results/searchResultsStyles.js
  zubhub_frontend/zubhub/src/components/Navbar/Navbar.jsx
  zubhub_frontend/zubhub/src/components/Navbar/navbarScripts.js
  zubhub_frontend/zubhub/src/components/actionIconsContainer/actionIconsContainer.jsx
  zubhub_frontend/zubhub/src/components/activity/activity.jsx
  zubhub_frontend/zubhub/src/components/activity/activityScripts.js
  zubhub_frontend/zubhub/src/components/social_share_buttons/socialShareButtons.jsx
  zubhub_frontend/zubhub/src/components/staff_pick/StaffPick.jsx
  zubhub_frontend/zubhub/src/store/actions/projectActions.js
  zubhub_frontend/zubhub/src/store/actions/userActions.js
  zubhub_frontend/zubhub/src/views/home/Home.jsx
  zubhub_frontend/zubhub/src/views/login/Login.jsx
  zubhub_frontend/zubhub/src/views/search_results/SearchResults.jsx
Due: zubhub-test, react-test

improve search for non-logged-in users (#1087)
  zubhub_backend/zubhub/creators/utils.py
  zubhub_backend/zubhub/projects/utils.py
  zubhub_backend/zubhub/projects/views.py
  zubhub_frontend/zubhub/public/locales/en/translation.json
  zubhub_frontend/zubhub/public/locales/hi/translation.json
  zubhub_frontend/zubhub/src/assets/js/styles/views/search_results/searchResultsStyles.js
  zubhub_frontend/zubhub/src/components/Navbar/Navbar.jsx
  zubhub_frontend/zubhub/src/components/Navbar/navbarScripts.js
  zubhub_frontend/zubhub/src/components/actionIconsContainer/actionIconsContainer.jsx
  zubhub_frontend/zubhub/src/components/activity/activity.jsx
  zubhub_frontend/zubhub/src/components/activity/activityScripts.js
  zubhub_frontend/zubhub/src/components/social_share_buttons/socialShareButtons.jsx
  zubhub_frontend/zubhub/src/components/staff_pick/StaffPick.jsx
  zubhub_frontend/zubhub/src/store/actions/projectActions.js
  zubhub_frontend/zubhub/src/store/actions/userActions.js
  zubhub_frontend/zubhub/src/views/home/Home.jsx
  zubhub_frontend/zubhub/src/views/login/Login.jsx
  zubhub_frontend/zubhub/src/views/search_results/SearchResults.jsx
Due: zubhub-test, react-test

[backend] pin pip to 24.0
  zubhub_backend/compose/celery/prod/Dockerfile
  zubhub_backend/compose/flower/prod/Dockerfile
  zubhub_backend/compose/media/dev/Dockerfile
  zubhub_backend/compose/media/prod/Dockerfile
  zubhub_backend/compose/web/dev/Dockerfile
  zubhub_backend/compose/web/prod/Dockerfile
Due: none

[backend] pin pip to 24.0 (#1132)
  zubhub_backend/compose/celery/prod/Dockerfile
  zubhub_backend/compose/flower/prod/Dockerfile
  zubhub_backend/compose/media/dev/Dockerfile
  zubhub_backend/compose/media/prod/Dockerfile
  zubhub_backend/compose/web/dev/Dockerfile
  zubhub_backend/compose/web/prod/Dockerfile
Due: none

[backend] add activity to admin management
  zubhub_backend/zubhub/activities/admin.py
  zubhub_backend/zubhub/activities/apps.py
  zubhub_backend/zubhub/activities/migrations/0018_alter_activity_options.py
  zubhub_backend/zubhub/activities/models.py
  zubhub_backend/zubhub/activities/serializers.py
  zubhub_backend/zubhub/activities/signals.py
Due: zubhub-test

[backend] add activity to admin management (#1093)
  zubhub_backend/zubhub/activities/admin.py
  zubhub_backend/zubhub/activities/apps.py
  zubhub_backend/zubhub/activities/migrations/0018_alter_activity_options.py
  zubhub_backend/zubhub/activities/models.py
  zubhub_backend/zubhub/activities/serializers.py
  zubhub_backend/zubhub/activities/signals.py
Due: zubhub-test

improve activity created modal use translations and change publish button's label to create remove banner from activity creation form make created activities unpublished by default
  zubhub_frontend/zubhub/public/locales/en/translation.json
  zubhub_frontend/zubhub/src/views/activity_details/ActivityDetails.styles.js
  zubhub_frontend/zubhub/src/views/activity_details/ActivityDetailsV2.jsx
  zubhub_frontend/zubhub/src/views/create_activity/CreateActivity.jsx
  zubhub_frontend/zubhub/src/views/create_activity/script.js
Due: react-test

initializes field with formik value
  zubhub_frontend/zubhub/src/views/create_activity/script.js
Due: react-test

add tabs show unpublished activities for staff and educators
  zubhub_frontend/zubhub/public/locales/en/translation.json
  zubhub_frontend/zubhub/src/assets/js/styles/views/activities/activitiesStyles.js
  zubhub_frontend/zubhub/src/store/actions/activityActions.js
  zubhub_frontend/zubhub/src/store/reducers/activityReducer.js
  zubhub_frontend/zubhub/src/views/activities/activities.jsx
Due: react-test

fix activity button
  zubhub_backend/zubhub/projects/serializers.py
  zubhub_frontend/zubhub/public/locales/en/translation.json
  zubhub_frontend/zubhub/public/locales/hi/translation.json
  zubhub_frontend/zubhub/src/views/activity_details/ActivityDetailsV2.jsx
Due: zubhub-test, react-test

translates download button add utils for qr code and pdf rendering implements template for pdf routes and views for endpoint utils for downloadable binaries updates to pdf template
  zubhub_backend/compose/celery/requirements.txt
  zubhub_backend/compose/web/dev/Dockerfile
  zubhub_backend/compose/web/requirements.txt
  zubhub_backend/zubhub/activities/urls.py
  zubhub_backend/zubhub/activities/utils.py
  zubhub_backend/zubhub/activities/views.py
  zubhub_backend/zubhub/templates/activities/activity_download.html
  zubhub_frontend/zubhub/public/locales/en/translation.json
  zubhub_frontend/zubhub/public/locales/hi/translation.json
  zubhub_frontend/zubhub/src/api/api.js
  zubhub_frontend/zubhub/src/views/activity_details/ActivityDetailsV2.jsx
  zubhub_frontend/zubhub/src/views/activity_details/activityDetailsScripts.js
Due: zubhub-test, react-test

[frontend] redesign activity details page
  zubhub_backend/zubhub/activities/views.py
  zubhub_frontend/zubhub/public/locales/en/translation.json
  zubhub_frontend/zubhub/src/assets/js/colors.js
  zubhub_frontend/zubhub/src/assets/js/muiTheme.js
  zubhub_frontend/zubhub/src/assets/js/styles/components/activity/activityStyle.js
  zubhub_frontend/zubhub/src/assets/js/utils/constants.js
  zubhub_frontend/zubhub/src/components/activity/activity.jsx
  zubhub_frontend/zubhub/src/components/categories/Categories.jsx
  zubhub_frontend/zubhub/src/components/categories/categories.styles.js
  zubhub_frontend/zubhub/src/components/creators/Creators.jsx
  zubhub_frontend/zubhub/src/components/creators/creators.styles.js
  zubhub_frontend/zubhub/src/components/social_share_buttons/socialShareButtons.jsx
  zubhub_frontend/zubhub/src/views/activity_details/ActivityDetails.styles.js
  zubhub_frontend/zubhub/src/views/activity_details/ActivityDetailsV2.jsx
  zubhub_frontend/zubhub/src/views/profile/Profile.jsx
Due: zubhub-test, react-test

GH action fix
  .github/workflows/create_destroy_test_vm.yaml
Due: none

Path conditions:
  zubhub-test: any of: zubhub_backend/zubhub/.*\.py$
  media-test: any of: zubhub_backend/media/.*\.py$
  react-test: any of: zubhub_frontend/.*\.[jt]sx?$, but not: ^zubhub_frontend/zubhub/node_modules/
